# Prerequisites
*.d
/Gunz/.vs
/EOS/Samples/.vs
/Build/*
# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.log
*.pdb
*.idb
*.tlog
*.tlh
*.tli
*.res
*.ipdb
*.iobj
# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.exp
*.out
*.app
*.map
